<!--
  modification du fichier original: jph. constantin / juin 2020
-->
{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}
    {% include author-profile.html %}
  {% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}


<h2>Catégories</h2>  
{% assign cats = site.categories | sort %}
  {% for ca in cats %}
  <span class="site-tag">
     <a href="/ca/{{ ca | first | slugify }}/"

     style="font-size: {{ ca | last | size  |  times: 4 | plus: 80  }}%">
     {{ ca[0] | replace:'-', ' ' }} ({{ ca | last | size }})

     </a>
    </span>
  {% endfor %}

<h2>Mot-clés</h2>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}
  </div>
{% endif %}
<!--{% for author in site.data.authors %}
     <img src="{ author.avatar | relative_url }}">"
     {{ author.name }}
     {{ author.bio }}
    {{ author.links.url }}
  {% endfor %}-->
<!--
  <div style="max-width:110px; border-radius: 50%;padding:5px;border:1px solid border-color;vertical-align: top;width: 36px;
  height: 36px;display: table-cell;">
-->