---
layout: archive
---
<!-- modification du fichier original jph constantin - juin 2020 
Pour le moment ne traite pas excerpt car écrit en double ??-->

<!--{{ content }}-->
<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
<!--hypothese il y a au moins un post !!!!!!!-->
{% for post in posts %}
    <article>
    <h2>
      <a href="{{ post.url | relative_url  }}">
        {{ post.title }}
      </a>
    </h2>
    <time datetime="{{ post.date | date: "%d" }}">{{ post.date | date_to_long_string | date: "%d" }}</time>
    {% assign m = post.date | date: "%m" %}
    {% case m %}
      {% when '01' %}Janvier
      {% when '02' %}Février
      {% when '03' %}Mars
      {% when '04' %}Avril
      {% when '05' %}Mai
      {% when '06' %}Juin
      {% when '07' %}Juillet
      {% when '08' %}Août
      {% when '09' %}Septembre
      {% when '10' %}Octobre
      {% when '11' %}Novembre
      {% when '12' %}Décembre
    {% endcase %}
    <time datetime="{{ post.date | date: "%Y" }}">{{ post.date | date_to_long_string | date: "%Y" }}</time>
    {{ post.content }}
    {% include post_taxonomy.html %}
  </article>
{% endfor %}
{% include paginator.html %}
